
*.editorconfig
Tetris/Tetris/obj/Tetris.csproj.nuget.g.targets
Tetris/Tetris/obj/Tetris.csproj.nuget.g.props
Tetris/Tetris/obj/Tetris.csproj.nuget.dgspec.json
Tetris/Tetris/obj/project.nuget.cache
Tetris/Tetris/obj/project.assets.json
Tetris/Tetris/obj/Debug/net5.0/Tetris.csproj.AssemblyReference.cache
Tetris/Tetris/obj/Debug/net5.0/Tetris.assets.cache
Tetris/Tetris/obj/Debug/net5.0/Tetris.AssemblyInfoInputs.cache
Tetris/Tetris/obj/Debug/net5.0/Tetris.AssemblyInfo.cs
Tetris/Tetris/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
Tetris/.vs/Tetris/v17/.suo
Tetris/Tetris/obj/Debug/net5.0/Tetris.pdb
Tetris/Tetris/obj/Debug/net5.0/Tetris.genruntimeconfig.cache
Tetris/Tetris/obj/Debug/net5.0/Tetris.dll
Tetris/Tetris/obj/Debug/net5.0/Tetris.csproj.FileListAbsolute.txt
Tetris/Tetris/obj/Debug/net5.0/Tetris.csproj.CoreCompileInputs.cache
Tetris/Tetris/obj/Debug/net5.0/ref/Tetris.dll
Tetris/Tetris/obj/Debug/net5.0/apphost.exe
Tetris/Tetris/bin/Debug/net5.0/Tetris.runtimeconfig.json
Tetris/Tetris/bin/Debug/net5.0/Tetris.runtimeconfig.dev.json
Tetris/Tetris/bin/Debug/net5.0/Tetris.pdb
Tetris/Tetris/bin/Debug/net5.0/Tetris.exe
Tetris/Tetris/bin/Debug/net5.0/Tetris.dll
Tetris/Tetris/bin/Debug/net5.0/Tetris.deps.json
Tetris/Tetris/bin/Debug/net5.0/ref/Tetris.dll
